html{
  height: 100%;
}
body {
  background: linear-gradient(#1F56CD, #162035);

}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  pading: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  back-ground: rgba(0,0,0,.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px; 
}

.main h2{
  margin: 0 3 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.main .box {
  position: relative;
}
.main .box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.main .box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;  
}
.main .box input:focus ~ label,
.main .box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #11D838;
  font-size: 12px;
}
.main form a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #23ED4B;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  
}
.main a:hover{
  background: #11D838;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #11D838,
              0 0 25px #11D838,
              0 0 50px #11D838,
              0 0 100px #11D838;
}
.main a span{
  position: absolute;
  display: block;
}
.main a span:nth-child(1){
  top:0;
  left:-100%;
  width: 100%;
  height:2px;
  background: linear-gradient(90deg,transparent,#11D838); 
  animation: btn-anim1 1s linear infinite;
}
@Keyframes btn-anim1{
  0%{
    left:-100%;
  }
  50%,100%{
    left:100%;
  }
}
